@(message: String)

@main("GettingStarted") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="@routes.Assets.at("images/lang-logo.png")">
    </a>
    <h1>Remote Tasks</h1>
  </div>
</div>
<div class="container">
   <div class="alert alert-info text-center" role="alert">
    Connect to this app from your SFDC org
  </div>
  @if(message != null){
  <div class="alert alert-success text-center" role="alert">
    @message
  </div>
  }
</div>

}
